.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh
}

.layout-container .show-message-button {
    background-color: #00f;
    position: fixed;
    right: 1.25rem;
    top: 6.25rem;
    width: 7.5rem;
    height: 3.75rem
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0,0%,100%,.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error)
}

.Toastify__toast-container {
    z-index: var(--toastify-z-index);
    -webkit-transform: translateZ(var(--toastify-z-index));
    position: fixed;
    padding: 4px;
    width: var(--toastify-toast-width);
    box-sizing: border-box;
    color: #fff
}

.Toastify__toast-container--top-left {
    top: 1em;
    left: 1em
}

.Toastify__toast-container--top-center {
    top: 1em;
    left: 50%;
    transform: translate(-50%)
}

.Toastify__toast-container--top-right {
    top: 1em;
    right: 1em
}

.Toastify__toast-container--bottom-left {
    bottom: 1em;
    left: 1em
}

.Toastify__toast-container--bottom-center {
    bottom: 1em;
    left: 50%;
    transform: translate(-50%)
}

.Toastify__toast-container--bottom-right {
    bottom: 1em;
    right: 1em
}

@media only screen and (max-width: 480px) {
    .Toastify__toast-container {
        width:100vw;
        padding: 0;
        left: 0;
        margin: 0
    }

    .Toastify__toast-container--top-center,.Toastify__toast-container--top-left,.Toastify__toast-container--top-right {
        top: 0;
        transform: translate(0)
    }

    .Toastify__toast-container--bottom-center,.Toastify__toast-container--bottom-left,.Toastify__toast-container--bottom-right {
        bottom: 0;
        transform: translate(0)
    }

    .Toastify__toast-container--rtl {
        right: 0;
        left: auto
    }
}

.Toastify__toast {
    position: relative;
    min-height: var(--toastify-toast-min-height);
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 10px #0000001a,0 2px 15px #0000000d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: var(--toastify-toast-max-height);
    overflow: hidden;
    font-family: var(--toastify-font-family);
    cursor: pointer;
    direction: ltr
}

.Toastify__toast--rtl {
    direction: rtl
}

.Toastify__toast-body {
    margin: auto 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.Toastify__toast-body>div:last-child {
    -ms-flex: 1;
    flex: 1
}

.Toastify__toast-icon {
    -webkit-margin-end: 10px;
    margin-inline-end:10px;width: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex
}

.Toastify--animate {
    animation-fill-mode: both;
    animation-duration: .7s
}

.Toastify--animate-icon {
    animation-fill-mode: both;
    animation-duration: .3s
}

@media only screen and (max-width: 480px) {
    .Toastify__toast {
        margin-bottom:0;
        border-radius: 0
    }
}

.f {
    --y: calc(var(--len) - var(--nth));
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    transform: translate3d(0,calc(var(--y) * -40%),0) scale(calc(1 - .05 * var(--y)));
    transition: all .3s;
    min-height: 80px
}

.Toastify__toast-theme--dark {
    background: var(--toastify-color-dark);
    color: var(--toastify-text-color-dark)
}

.Toastify__toast-theme--colored.Toastify__toast--default,.Toastify__toast-theme--light {
    background: var(--toastify-color-light);
    color: var(--toastify-text-color-light)
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    color: var(--toastify-text-color-info);
    background: var(--toastify-color-info)
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    color: var(--toastify-text-color-success);
    background: var(--toastify-color-success)
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
    color: var(--toastify-text-color-warning);
    background: var(--toastify-color-warning)
}

.Toastify__toast-theme--colored.Toastify__toast--error {
    color: var(--toastify-text-color-error);
    background: var(--toastify-color-error)
}

.Toastify__progress-bar-theme--light {
    background: var(--toastify-color-progress-light)
}

.Toastify__progress-bar-theme--dark {
    background: var(--toastify-color-progress-dark)
}

.Toastify__progress-bar--info {
    background: var(--toastify-color-progress-info)
}

.Toastify__progress-bar--success {
    background: var(--toastify-color-progress-success)
}

.Toastify__progress-bar--warning {
    background: var(--toastify-color-progress-warning)
}

.Toastify__progress-bar--error {
    background: var(--toastify-color-progress-error)
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
    background: var(--toastify-color-transparent)
}

.Toastify__close-button {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: .7;
    transition: .3s ease;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.Toastify__close-button--light {
    color: #000;
    opacity: .3
}

.Toastify__close-button>svg {
    fill: currentColor;
    height: 16px;
    width: 14px
}

.Toastify__close-button:focus,.Toastify__close-button:hover {
    opacity: 1
}

@keyframes Toastify__trackProgress {
    0% {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(0)
    }
}

.Toastify__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: var(--toastify-z-index);
    opacity: .7;
    transform-origin: left
}

.Toastify__progress-bar--animated {
    animation: Toastify__trackProgress linear 1 forwards
}

.Toastify__progress-bar--controlled {
    transition: transform .2s
}

.Toastify__progress-bar--rtl {
    right: 0;
    left: auto;
    transform-origin: right
}

.Toastify__spinner {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100%;
    border-color: var(--toastify-spinner-color-empty-area);
    border-right-color: var(--toastify-spinner-color);
    animation: Toastify__spin .65s linear infinite
}

@keyframes Toastify__bounceInRight {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px,0,0)
    }

    75% {
        transform: translate3d(10px,0,0)
    }

    90% {
        transform: translate3d(-5px,0,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(2000px,0,0)
    }
}

@keyframes Toastify__bounceInLeft {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        transform: translate3d(-10px,0,0)
    }

    90% {
        transform: translate3d(5px,0,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }
}

@keyframes Toastify__bounceInUp {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    75% {
        transform: translate3d(0,10px,0)
    }

    90% {
        transform: translate3d(0,-5px,0)
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__bounceOutUp {
    20% {
        transform: translate3d(0,-10px,0)
    }

    40%,45% {
        opacity: 1;
        transform: translate3d(0,20px,0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,-2000px,0)
    }
}

@keyframes Toastify__bounceInDown {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,25px,0)
    }

    75% {
        transform: translate3d(0,-10px,0)
    }

    90% {
        transform: translate3d(0,5px,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutDown {
    20% {
        transform: translate3d(0,10px,0)
    }

    40%,45% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,2000px,0)
    }
}

.Toastify__bounce-enter--bottom-left,.Toastify__bounce-enter--top-left {
    animation-name: Toastify__bounceInLeft
}

.Toastify__bounce-enter--bottom-right,.Toastify__bounce-enter--top-right {
    animation-name: Toastify__bounceInRight
}

.Toastify__bounce-enter--top-center {
    animation-name: Toastify__bounceInDown
}

.Toastify__bounce-enter--bottom-center {
    animation-name: Toastify__bounceInUp
}

.Toastify__bounce-exit--bottom-left,.Toastify__bounce-exit--top-left {
    animation-name: Toastify__bounceOutLeft
}

.Toastify__bounce-exit--bottom-right,.Toastify__bounce-exit--top-right {
    animation-name: Toastify__bounceOutRight
}

.Toastify__bounce-exit--top-center {
    animation-name: Toastify__bounceOutUp
}

.Toastify__bounce-exit--bottom-center {
    animation-name: Toastify__bounceOutDown
}

@keyframes Toastify__zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes Toastify__zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    to {
        opacity: 0
    }
}

.Toastify__zoom-enter {
    animation-name: Toastify__zoomIn
}

.Toastify__zoom-exit {
    animation-name: Toastify__zoomOut
}

@keyframes Toastify__flipIn {
    0% {
        transform: perspective(400px) rotateX(90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateX(-20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        transform: perspective(400px)
    }
}

@keyframes Toastify__flipOut {
    0% {
        transform: perspective(400px)
    }

    30% {
        transform: perspective(400px) rotateX(-20deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

.Toastify__flip-enter {
    animation-name: Toastify__flipIn
}

.Toastify__flip-exit {
    animation-name: Toastify__flipOut
}

@keyframes Toastify__slideInRight {
    0% {
        transform: translate3d(110%,0,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInLeft {
    0% {
        transform: translate3d(-110%,0,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInUp {
    0% {
        transform: translate3d(0,110%,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInDown {
    0% {
        transform: translate3d(0,-110%,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideOutRight {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(110%,0,0)
    }
}

@keyframes Toastify__slideOutLeft {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(-110%,0,0)
    }
}

@keyframes Toastify__slideOutDown {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0,500px,0)
    }
}

@keyframes Toastify__slideOutUp {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0,-500px,0)
    }
}

.Toastify__slide-enter--bottom-left,.Toastify__slide-enter--top-left {
    animation-name: Toastify__slideInLeft
}

.Toastify__slide-enter--bottom-right,.Toastify__slide-enter--top-right {
    animation-name: Toastify__slideInRight
}

.Toastify__slide-enter--top-center {
    animation-name: Toastify__slideInDown
}

.Toastify__slide-enter--bottom-center {
    animation-name: Toastify__slideInUp
}

.Toastify__slide-exit--bottom-left,.Toastify__slide-exit--top-left {
    animation-name: Toastify__slideOutLeft
}

.Toastify__slide-exit--bottom-right,.Toastify__slide-exit--top-right {
    animation-name: Toastify__slideOutRight
}

.Toastify__slide-exit--top-center {
    animation-name: Toastify__slideOutUp
}

.Toastify__slide-exit--bottom-center {
    animation-name: Toastify__slideOutDown
}

@keyframes Toastify__spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.navbar {
    width: 100%;
    background-color: #101010;
    position: fixed;
    top: 0;
    z-index: 1
}

@media (min-width: 48rem) {
    .navbar {
        padding:0 2.5rem
    }
}

.navbar .navbar-container {
    width: 100%;
    max-width: 69.375rem;
    height: 5.625rem;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(250,250,250,.1);
    transition-duration: .2s
}

@media (min-width: 48rem) {
    .navbar .navbar-container {
        justify-content:unset
    }
}

@media (min-width: 64rem) {
    .navbar .navbar-container {
        height:6rem;
        justify-content: center
    }
}

.navbar .navbar-container .navbar-btn-menu {
    position: absolute;
    left: 1.5rem
}

@media (min-width: 48rem) {
    .navbar .navbar-container .navbar-btn-menu {
        position:static;
        margin-right: 2.625rem
    }
}

@media (min-width: 64rem) {
    .navbar .navbar-container .navbar-btn-menu {
        display:none
    }
}

.navbar .navbar-container .navbar-btn-cart {
    position: absolute;
    right: 1.5rem
}

@media (min-width: 48rem) {
    .navbar .navbar-container .navbar-btn-cart {
        position:static;
        margin-left: auto
    }
}

@media (min-width: 64rem) {
    .navbar .navbar-container .navbar-btn-cart {
        margin-left:0;
        position: absolute;
        right: 0
    }
}

@media (min-width: 64rem) {
    .navbar .navbar-container .navbar-logo {
        position:absolute;
        left: 0
    }
}

.navbar .navbar-container ul {
    display: none
}

@media (min-width: 64rem) {
    .navbar .navbar-container ul {
        display:flex
    }
}

.navbar .no-navbar-border {
    border-bottom: none
}

.navbar-mobile-menu {
    width: 100%;
    background-color: #fff;
    padding: 2.1875rem 1.5rem;
    border-radius: 0 0 .5rem .5rem
}

@media (min-width: 48rem) {
    .navbar-mobile-menu {
        padding:3.5rem 2.5rem 4rem
    }
}

.tranparent-background-container {
    padding: 1.5rem;
    display: flex;
    justify-content: center
}

@media (min-width: 48rem) {
    .tranparent-background-container {
        padding:1.5rem 2.5rem
    }
}

.tranparent-background-container .shopping-cart-wrapper {
    width: 100%;
    max-width: 69.375rem;
    display: flex
}

.tranparent-background-container .shopping-cart-wrapper .shopping-cart-container {
    width: 100%;
    max-width: 23.5625rem;
    height: 30.5rem;
    border-radius: .5rem;
    background-color: #fff;
    margin-left: auto;
    padding: 2rem 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

@media (min-width: 48rem) {
    .tranparent-background-container .shopping-cart-wrapper .shopping-cart-container {
        padding:1.9375rem 2.0625rem
    }
}

.tranparent-background-container .shopping-cart-wrapper .shopping-cart-container .checkout-button {
    margin-top: auto;
    width: 100%;
    justify-content: center
}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem
}

@media (min-width: 48rem) {
    .nav-list {
        flex-direction:row;
        gap: 2.125rem
    }
}

.nav-list .nav-list-item {
    color: #fafafa;
    font-size: .8125rem;
    line-height: 1.5625rem;
    font-weight: 700;
    text-transform: uppercase
}

@media (hover: hover) and (pointer: fine) {
    .nav-list .nav-list-item:hover,.nav-list .nav-list-item:focus-visible {
        transition-duration:.2s;
        color: #d87d4a
    }
}

.btn-styles {
    height: 3rem;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    font-size: .8125rem;
    align-items: center;
    font-weight: 700;
    padding: 0 1.875rem;
    border: 2px solid
}

.btn-styles:disabled {
    cursor: not-allowed
}

.btn-default {
    background-color: #d87d4a;
    color: #fff;
    border-color: #d87d4a
}

.btn-default:disabled {
    background-color: #fbaf85;
    border-color: #fbaf85
}

@media (hover: hover) and (pointer: fine) {
    .btn-default:hover,.btn-default:focus-visible {
        transition-duration:.2s;
        background-color: #fbaf85;
        border-color: #fbaf85
    }
}

.btn-black {
    color: #000;
    border-color: #000
}

.btn-black:disabled {
    background-color: #000;
    color: #fff
}

@media (hover: hover) and (pointer: fine) {
    .btn-black:hover,.btn-black:focus-visible {
        transition-duration:.2s;
        background-color: #000;
        color: #fff
    }
}

.btn-outline {
    padding: 0;
    height: auto;
    border: none;
    color: #00000080;
    gap: .8125rem
}

.btn-outline:disabled {
    color: #d87d4a
}

@media (hover: hover) and (pointer: fine) {
    .btn-outline:hover,.btn-outline:focus-visible {
        transition-duration:.2s;
        color: #d87d4a
    }
}

.btn-gray {
    background-color: #000;
    color: #fff;
    border-color: #000
}

.btn-gray:disabled {
    background-color: #4c4c4c;
    border-color: #4c4c4c
}

@media (hover: hover) and (pointer: fine) {
    .btn-gray:hover,.btn-gray:focus-visible {
        transition-duration:.2s;
        background-color: #4c4c4c;
        border-color: #4c4c4c
    }
}

.categories-section {
    width: 100%
}

@media (min-width: 48rem) {
    .categories-section {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem
    }
}

@media (min-width: 64rem) {
    .categories-section {
        column-gap:1.875rem
    }
}

.categories-section .category-item {
    padding-top: 3.25rem;
    position: relative;
    width: 100%;
    margin-bottom: 1rem
}

.categories-section .category-item:nth-last-child(1) {
    margin-bottom: 0
}

@media (min-width: 48rem) {
    .categories-section .category-item {
        margin-bottom:0
    }
}

.categories-section .category-item .category-image {
    width: 5.9375rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%)
}

.categories-section .category-item .category-content {
    padding-top: 5.5rem;
    padding-bottom: 1.375rem;
    border-radius: .5rem;
    background-color: #f1f1f1;
    text-align: center
}

.categories-section .category-item .category-content .category-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9375rem;
    margin-bottom: 1.0625rem
}

.categories-section .category-item .category-content .category-button {
    margin: 0 auto
}

.black-container {
    position: fixed;
    top: 5.625rem;
    left: 0;
    width: 100%;
    height: calc(100% - 5.625rem);
    background-color: #10101066;
    z-index: 2;
    overflow: auto
}

.cart-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.cart-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cart-section-header .cart-list-size {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase
}

.cart-section-header .remove-all-button {
    color: #10101080;
    text-decoration: underline;
    font-weight: 500;
    font-size: .9375rem
}

@media (hover: hover) and (pointer: fine) {
    .cart-section-header .remove-all-button:hover,.cart-section-header .remove-all-button:focus-visible {
        transition-duration:.2s;
        color: #d87d4a
    }
}

.cart-section .cart-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 15rem;
    overflow: auto;
    scrollbar-width: none
}

.cart-section .cart-list::-webkit-scrollbar {
    width: 0
}

.cart-section .cart-list .empty-text {
    margin: auto;
    font-weight: 700
}

.cart-section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cart-section-footer .total-text {
    text-transform: uppercase
}

.cart-section-footer .total-price {
    font-weight: 700;
    font-size: 1.125rem
}

.cart-list-item {
    height: 4rem;
    display: flex;
    align-items: center
}

.cart-list-item .product-list-image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem
}

.cart-list-item .product-list-info {
    font-weight: 700
}

.cart-list-item .product-list-info .product-list-price {
    color: #10101080
}

.cart-list-item .product-list-actions {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
    padding: 0 .6875rem;
    height: 2rem;
    background-color: #f1f1f1;
    font-weight: 700
}

.cart-list-item .product-list-actions .product-list-button {
    display: flex;
    width: 1rem;
    height: 1.125rem
}

@media (hover: hover) and (pointer: fine) {
    .cart-list-item .product-list-actions .product-list-button:hover,.cart-list-item .product-list-actions .product-list-button:focus-visible {
        transition-duration:.2s;
        transition-duration: 0;
        filter: brightness(0) saturate(100%) invert(76%) sepia(17%) saturate(7197%) hue-rotate(326deg) brightness(90%) contrast(87%)
    }
}

.cart-list-item .product-list-actions .product-list-button img {
    margin: auto
}

.cart-list-item .product-list-quantity {
    font-weight: 700;
    margin-left: auto
}

.text-default {
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.5625rem
}

.text-new {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.195rem;
    letter-spacing: .625rem;
    text-transform: uppercase
}

.text-beige {
    color: #d87d4a
}

.text-black {
    color: #10101080
}

.text-white {
    color: #fafafa80
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.footer {
    padding: 0 1.5rem 2.375rem;
    background-color: #101010;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width: 48rem) {
    .footer {
        padding:0 2.5rem 2.875rem
    }
}

.footer .footer-container {
    width: 100%;
    max-width: 69.375rem
}

.footer .footer-container .footer-line {
    width: 6.3125rem;
    height: .25rem;
    background-color: #d87d4a;
    margin: 0 auto 3rem
}

@media (min-width: 48rem) {
    .footer .footer-container .footer-line {
        margin:0 0 3rem
    }
}

.footer .footer-container .footer-content {
    width: 100%;
    position: relative
}

.footer .footer-container .footer-content .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem
}

@media (min-width: 48rem) {
    .footer .footer-container .footer-content .footer-section {
        align-items:initial;
        gap: 2rem
    }
}

@media (min-width: 64rem) {
    .footer .footer-container .footer-content .footer-section {
        flex-direction:row;
        justify-content: space-between
    }
}

.footer .footer-container .footer-content .footer-text {
    margin: 3rem 0
}

@media (min-width: 48rem) {
    .footer .footer-container .footer-content .footer-text {
        margin-top:2rem;
        margin-bottom: 5rem
    }
}

@media (min-width: 64rem) {
    .footer .footer-container .footer-content .footer-text {
        width:33.75rem;
        margin-top: 2.25rem;
        margin-bottom: 3.5rem
    }
}

@media (min-width: 48rem) {
    .footer .footer-container .footer-content .footer-text,.footer .footer-container .footer-content .footer-copy {
        text-align:unset
    }
}

.footer .footer-container .footer-content .footer-icons-section {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem
}

@media (min-width: 48rem) {
    .footer .footer-container .footer-content .footer-icons-section {
        width:fit-content;
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0
    }
}

@media (min-width: 64rem) {
    .footer .footer-container .footer-content .footer-icons-section {
        top:50%;
        bottom: unset;
        transform: translateY(-50%)
    }
}

@media (hover: hover) and (pointer: fine) {
    .footer .footer-container .footer-content .footer-icons-section .footer-icon:hover,.footer .footer-container .footer-content .footer-icons-section .footer-icon:focus-visible {
        transition-duration:.2s;
        filter: brightness(0) saturate(100%) invert(85%) sepia(46%) saturate(5182%) hue-rotate(325deg) brightness(89%) contrast(89%);
        transition-duration: unset
    }
}

.home-header {
    width: 100%;
    background-color: #101010;
    position: relative
}

.home-header .hero-image {
    width: 100%
}

@media (min-width: 64rem) {
    .home-header .hero-image {
        margin-top:6rem
    }
}

@media (min-width: 80rem) {
    .home-header .hero-image {
        margin-top:0
    }
}

.home-header .home-header-container {
    padding: 0 3.25rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 69.375rem;
    position: absolute;
    top: 5.625rem;
    height: calc(100% - 5.625rem);
    display: flex;
    justify-content: center;
    align-items: center
}

@media (min-width: 64rem) {
    .home-header .home-header-container {
        height:calc(100% - 6rem);
        top: 6rem;
        justify-content: left
    }
}

@media (min-width: 80rem) {
    .home-header .home-header-container {
        padding:0
    }
}

.home-header .home-header-container .home-header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center
}

@media (min-width: 48rem) {
    .home-header .home-header-container .home-header-content {
        width:23.6875rem
    }
}

@media (min-width: 64rem) {
    .home-header .home-header-container .home-header-content {
        text-align:left;
        align-items: initial
    }
}

.home-header .home-header-container .home-header-content .header-title {
    text-transform: uppercase;
    font-size: 2.25rem;
    color: #fafafa;
    letter-spacing: .080625rem;
    margin-top: 1rem;
    margin-bottom: 1.4375rem
}

@media (min-width: 48rem) {
    .home-header .home-header-container .home-header-content .header-title {
        font-size:3.5rem;
        letter-spacing: .125rem;
        margin: 1.5rem 0
    }
}

@media (min-width: 48rem) {
    .home-header .home-header-container .home-header-content .header-text {
        width:21.8125rem
    }
}

.home-header .home-header-container .home-header-content .header-btn {
    margin-top: 1.8125rem
}

@media (min-width: 48rem) {
    .home-header .home-header-container .home-header-content .header-btn {
        margin-top:2.5rem
    }
}

.home-products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

@media (min-width: 48rem) {
    .home-products-section {
        gap:2rem
    }
}

@media (min-width: 64rem) {
    .home-products-section {
        gap:3rem
    }
}

.main-container {
    gap: 7.5rem
}

@media (min-width: 48rem) {
    .main-container {
        gap:6rem
    }
}

@media (min-width: 64rem) {
    .main-container {
        gap:10rem
    }
}

.main-container-wrapper {
    background-color: #fafafa;
    display: flex;
    justify-content: center
}

.main-container-wrapper .main-container {
    width: 100%;
    max-width: 69.375rem;
    display: flex;
    flex-direction: column
}

.layout-category {
    padding: 2.5rem 1.5rem 7.5rem
}

@media (min-width: 48rem) {
    .layout-category {
        padding:6rem 2.5rem
    }
}

@media (min-width: 64rem) {
    .layout-category {
        padding-top:7.5rem;
        padding-bottom: 12.5rem
    }
}

.layout-product {
    margin-top: 5.625rem;
    padding: 1rem 1.5rem 7.5rem
}

@media (min-width: 48rem) {
    .layout-product {
        padding:2.0625rem 2.5rem 7.5rem
    }
}

@media (min-width: 64rem) {
    .layout-product {
        padding-top:4.9375rem;
        padding-bottom: 10rem
    }
}

.layout-checkout {
    margin-top: 5.625rem;
    padding: 1rem 1.5rem 6rem
}

@media (min-width: 48rem) {
    .layout-checkout {
        padding:3rem 2.5rem 7.25rem
    }
}

@media (min-width: 64rem) {
    .layout-checkout {
        background-color:#f1f1f1;
        padding-top: 4.9375rem;
        padding-bottom: 8.8125rem
    }
}

.best-audio-section {
    width: 100%
}

@media (min-width: 64rem) {
    .best-audio-section {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        place-items: center;
        column-gap: 7.8125rem
    }
}

.best-audio-section .best-audio-image {
    width: 100%;
    border-radius: .5rem
}

.best-audio-section .best-audio-content {
    width: 100%;
    max-width: 35.8125rem;
    margin: 0 auto;
    text-align: center
}

@media (min-width: 64rem) {
    .best-audio-section .best-audio-content {
        max-width:27.8125rem;
        grid-column: 1/2;
        text-align: left
    }
}

.best-audio-section .best-audio-content .best-audio-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 2rem
}

@media (min-width: 48rem) {
    .best-audio-section .best-audio-content .best-audio-title {
        font-size:2.5rem;
        margin-top: 3.9375rem;
        margin-bottom: 2rem
    }
}

@media (min-width: 64rem) {
    .best-audio-section .best-audio-content .best-audio-title {
        margin-top:0rem
    }
}

.best-audio-section .best-audio-content .best-audio-title-span {
    color: #d87d4a
}

.product-home-one {
    width: 100%;
    background-color: #d87d4a;
    padding: 3.4375rem 1.5rem;
    border-radius: .5rem;
    background-image: url(/assets/pattern-circles.1e4fdc35.svg);
    background-size: 31.25rem;
    background-position: center -100px;
    background-repeat: no-repeat
}

@media (min-width: 48rem) {
    .product-home-one {
        background-size:50rem;
        background-position: center -250px;
        padding: 3.25rem 1.5rem 4rem
    }
}

@media (min-width: 64rem) {
    .product-home-one {
        height:35rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8.625rem;
        place-items: center;
        background-position: -90px -50px;
        padding: 0 5.9375rem
    }
}

.product-home-one .product-home-one-image-container {
    width: fit-content;
    margin: 0 auto
}

@media (min-width: 64rem) {
    .product-home-one .product-home-one-image-container {
        display:flex;
        height: 100%;
        overflow: hidden
    }
}

.product-home-one .product-home-one-image-container .product-home-one-image {
    margin-bottom: 2rem;
    width: 10.765625rem
}

@media (min-width: 48rem) {
    .product-home-one .product-home-one-image-container .product-home-one-image {
        width:12.325625rem
    }
}

@media (min-width: 64rem) {
    .product-home-one .product-home-one-image-container .product-home-one-image {
        margin:auto 0;
        width: 100%
    }
}

@media (min-width: 80rem) {
    .product-home-one .product-home-one-image-container .product-home-one-image {
        margin:auto 0 0;
        position: relative;
        bottom: -.625rem
    }
}

.product-home-one-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

@media (min-width: 48rem) {
    .product-home-one-content {
        width:21.8125rem
    }
}

@media (min-width: 64rem) {
    .product-home-one-content {
        align-items:initial
    }
}

.product-home-one-content .product-home-one-title {
    text-align: center;
    color: #fff;
    font-size: 2.25rem;
    text-transform: uppercase
}

@media (min-width: 48rem) {
    .product-home-one-content .product-home-one-title {
        font-size:3.5rem
    }
}

@media (min-width: 64rem) {
    .product-home-one-content .product-home-one-title {
        text-align:left
    }
}

.product-home-one-content .product-home-one-text {
    text-align: center
}

@media (min-width: 64rem) {
    .product-home-one-content .product-home-one-text {
        text-align:left
    }
}

.product-home-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6.3125rem 1.5rem;
    border-radius: .5rem;
    background-image: url(/assets/image-speaker-zx7.391c0809.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media (min-width: 48rem) {
    .product-home-two {
        padding-left:3.875rem;
        background-image: url(/assets/image-speaker-zx7.36dbfb4f.jpg)
    }
}

@media (min-width: 64rem) {
    .product-home-two {
        padding-left:5.9375rem;
        background-image: url(/assets/image-speaker-zx7.15b29b78.jpg)
    }
}

.product-home-two .product-home-two-title {
    font-size: 1.75rem;
    text-transform: uppercase
}

.product-home-three {
    width: 100%
}

@media (min-width: 48rem) {
    .product-home-three {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .6875rem
    }
}

@media (min-width: 48rem) {
    .product-home-three {
        column-gap:1.875rem
    }
}

.product-home-three .product-home-three-image {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem
}

@media (min-width: 48rem) {
    .product-home-three .product-home-three-image {
        margin-bottom:0
    }
}

.product-home-three .product-home-three-content {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: .5rem;
    padding: 2.5625rem 1.5rem
}

@media (min-width: 48rem) {
    .product-home-three .product-home-three-content {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 2.5625rem
    }
}

@media (min-width: 64rem) {
    .product-home-three .product-home-three-content {
        padding:2.5625rem 5.9375rem
    }
}

.product-home-three .product-home-three-content .product-home-three-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 2rem
}

.category-header {
    width: 100%;
    background-color: #101010;
    padding-top: 5.625rem
}

.category-header-container {
    height: 6.375rem;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (min-width: 48rem) {
    .category-header-container {
        height:15.375rem
    }
}

@media (min-width: 48rem) {
    .category-header-container {
        height:14.9375rem
    }
}

.category-header-container .category-header-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

@media (min-width: 48rem) {
    .category-header-container .category-header-title {
        font-size:2.5rem
    }
}

.category-product {
    width: 100%
}

@media (min-width: 64rem) {
    .category-product {
        display:flex;
        align-items: center
    }
}

.category-product-image {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: .5rem
}

@media (min-width: 48rem) {
    .category-product-image {
        margin-bottom:3.25rem
    }
}

@media (min-width: 64rem) {
    .category-product-image {
        width:50%;
        margin-bottom: 0
    }
}

.category-product-details {
    margin: 0 auto;
    width: 100%;
    max-width: 35.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem
}

@media (min-width: 64rem) {
    .category-product-details {
        align-items:initial;
        text-align: left;
        padding-left: 8rem;
        width: 50%
    }
}

.category-product-details .category-product-title {
    text-transform: uppercase;
    font-size: 1.75rem
}

@media (min-width: 48rem) {
    .category-product-details .category-product-title {
        width:22.5rem;
        font-size: 2.5rem
    }
}

@media (min-width: 64rem) {
    .category-product-reverse {
        flex-direction:row-reverse
    }
}

@media (min-width: 64rem) {
    .category-product-reverse .category-product-details {
        padding-left:0;
        padding-right: 8rem
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.loading-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 2
}

.loading-container .lading-loader {
    margin: auto;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: solid 12px #fbaf85;
    border-top: solid 12px #d87d4a;
    animation: spin 1s linear infinite
}

.related-products-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 2.5rem
}

@media (min-width: 48rem) {
    .related-products-title {
        font-size:2rem;
        margin-bottom: 3.5rem
    }
}

@media (min-width: 64rem) {
    .related-products-title {
        margin-bottom:4rem
    }
}

.related-products .related-products-container {
    width: 100%
}

@media (min-width: 48rem) {
    .related-products .related-products-container {
        display:grid;
        column-gap: .6875rem;
        grid-template-columns: 1fr 1fr 1fr
    }
}

@media (min-width: 64rem) {
    .related-products .related-products-container {
        column-gap:1.875rem
    }
}

.go-back-button {
    width: fit-content;
    font-weight: 500;
    font-size: .9375rem;
    color: #10101080
}

@media (hover: hover) and (pointer: fine) {
    .go-back-button:hover,.go-back-button:focus-visible {
        transition-duration:.2s;
        color: #d87d4a
    }
}

.product-info-section {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem
}

@media (min-width: 48rem) {
    .product-info-section {
        gap:6rem;
        align-items: center;
        flex-direction: row
    }
}

@media (min-width: 64rem) {
    .product-info-section {
        margin-top:3.5rem;
        gap: 7.75rem
    }
}

.product-info-section .product-image {
    border-radius: .5rem
}

@media (min-width: 48rem) {
    .product-info-section .product-image {
        width:17.5625rem
    }
}

@media (min-width: 64rem) {
    .product-info-section .product-image {
        flex:1
    }
}

@media (min-width: 64rem) {
    .product-info-section .product-info-text {
        flex:1
    }
}

.product-info-section .product-info-text .product-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 1.5rem 0
}

@media (min-width: 48rem) {
    .product-info-section .product-info-text .product-title {
        padding:1.0625rem 0 2rem
    }
}

@media (min-width: 64rem) {
    .product-info-section .product-info-text .product-title {
        font-size:2.5rem
    }
}

.product-info-section .product-info-text .product-price {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.5rem 0 1.9375rem
}

@media (min-width: 48rem) {
    .product-info-section .product-info-text .product-price {
        padding:1.9375rem 0
    }
}

.product-info-section .product-info-text .product-buttons {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 1rem
}

.product-info-section .product-info-text .product-buttons .quantity-section {
    background-color: #f1f1f1;
    width: 7.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .9375rem;
    font-weight: 700
}

.product-info-section .product-info-text .product-buttons .quantity-section .quantity-button {
    display: flex;
    width: 1rem;
    height: 1.125rem
}

@media (hover: hover) and (pointer: fine) {
    .product-info-section .product-info-text .product-buttons .quantity-section .quantity-button:hover,.product-info-section .product-info-text .product-buttons .quantity-section .quantity-button:focus-visible {
        transition-duration:.2s;
        transition-duration: 0;
        filter: brightness(0) saturate(100%) invert(76%) sepia(17%) saturate(7197%) hue-rotate(326deg) brightness(90%) contrast(87%)
    }
}

.product-info-section .product-info-text .product-buttons .quantity-section .quantity-button img {
    margin: auto
}

.features-section {
    display: flex;
    flex-direction: column;
    gap: 5.5rem
}

@media (min-width: 48rem) {
    .features-section {
        gap:7.5rem
    }
}

@media (min-width: 64rem) {
    .features-section {
        flex-direction:row
    }
}

@media (min-width: 64rem) {
    .features-section .features-text-section {
        width:39.6875rem
    }
}

.features-section .features-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem
}

@media (min-width: 48rem) {
    .features-section .features-title {
        font-size:2rem;
        margin-bottom: 2rem
    }
}

@media (min-width: 48rem) {
    .features-section .includes-section {
        display:flex;
        gap: 10.1875rem
    }
}

@media (min-width: 64rem) {
    .features-section .includes-section {
        display:block
    }
}

.features-section .includes-section .includes-list {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.features-section .includes-section .includes-list-item {
    display: flex;
    gap: 1.5rem
}

.features-section .includes-section .includes-list-item .quantity-includes {
    font-weight: 700
}

.product-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}

@media (min-width: 48rem) {
    .product-gallery {
        display:grid;
        grid-template-columns: 1fr 1.45fr;
        column-gap: 1.875rem;
        place-items: center
    }
}

@media (min-width: 64rem) {
    .product-gallery {
        column-gap:2.1875rem
    }
}

.product-gallery img {
    width: 100%;
    border-radius: .5rem
}

.product-gallery .gallery-left {
    height: 100%
}

@media (min-width: 48rem) {
    .product-gallery .gallery-left {
        display:flex;
        flex-direction: column;
        justify-content: space-between
    }
}

.product-gallery .gallery-left .first-image-gallery {
    margin-bottom: 1.25rem
}

@media (min-width: 48rem) {
    .product-gallery .gallery-left .first-image-gallery {
        margin-bottom:0
    }
}

.individual-related-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    gap: 2rem;
    align-items: center
}

.individual-related-product:last-child {
    margin-bottom: 0
}

.individual-related-product img {
    width: 100%;
    border-radius: .5rem
}

.checkout-main-container .main-container {
    gap: 0
}

.checkout-main-container .main-container .checkout-wrapper {
    margin-top: 1.5rem
}

@media (min-width: 64rem) {
    .checkout-main-container .main-container .checkout-wrapper {
        margin-top:3.25rem;
        display: flex;
        gap: 1.875rem;
        align-items: flex-start
    }
}

.checkout-main-container .main-container .checkout-wrapper .checkout-form-section {
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fff
}

@media (min-width: 48rem) {
    .checkout-main-container .main-container .checkout-wrapper .checkout-form-section {
        padding:1.875rem 1.75rem
    }
}

@media (min-width: 64rem) {
    .checkout-main-container .main-container .checkout-wrapper .checkout-form-section {
        flex-grow:1;
        padding: 3.375rem 3rem
    }
}

.checkout-main-container .main-container .checkout-wrapper .checkout-form-section-title {
    text-transform: uppercase;
    font-size: 1.75rem
}

@media (min-width: 48rem) {
    .checkout-main-container .main-container .checkout-wrapper .checkout-form-section-title {
        font-size:2rem
    }
}

.order-wrapper {
    top: 0;
    height: 100vh;
    padding: 1.5rem;
    display: flex
}

.order-wrapper .order-container {
    margin: auto;
    background-color: #fafafa;
    width: 100%;
    max-width: 33.75rem;
    border-radius: .5rem;
    padding: 2rem
}

@media (min-width: 48rem) {
    .order-wrapper .order-container {
        padding:3rem
    }
}

.order-wrapper .order-container .order-icon {
    width: 4rem
}

.order-wrapper .order-container .order-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1.4375rem 0 1rem
}

@media (min-width: 48rem) {
    .order-wrapper .order-container .order-title {
        font-size:2rem;
        margin: 2.0625rem 0 1.5rem
    }
}

.order-wrapper .order-container .order-products {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: .5rem
}

@media (min-width: 48rem) {
    .order-wrapper .order-container .order-products {
        flex-direction:row;
        margin: 2.0625rem 0 2.875rem
    }
}

.order-wrapper .order-container .order-products-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem;
    padding: 1.5rem
}

@media (min-width: 48rem) {
    .order-wrapper .order-container .order-products-item {
        flex:1
    }
}

.order-wrapper .order-container .order-products-item-data {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: .9375rem;
    align-items: center
}

.order-wrapper .order-container .order-products-item-data .order-item-image {
    width: 3.125rem
}

.order-wrapper .order-container .order-products-item-data .order-item-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700
}

.order-wrapper .order-container .order-products-item-data .order-item-info span {
    color: #10101080
}

.order-wrapper .order-container .order-products-item-data .order-item-quantity {
    color: #10101080;
    font-weight: 700
}

.order-wrapper .order-container .order-products-item .order-item-length {
    font-weight: 700;
    padding-top: .75rem;
    font-size: .75rem;
    text-align: center;
    border-top: solid .0625rem rgba(16,16,16,.08);
    color: #10101080
}

.order-wrapper .order-container .order-product-price {
    font-size: .9375rem;
    background-color: #101010;
    color: #fafafa80;
    padding: .9375rem 1.5rem 1.1875rem;
    text-transform: uppercase;
    border-radius: 0 0 .5rem .5rem
}

@media (min-width: 48rem) {
    .order-wrapper .order-container .order-product-price {
        width:12.375rem;
        border-radius: 0 .5rem .5rem 0;
        padding: 2.625rem 1.5rem
    }
}

.order-wrapper .order-container .order-product-price .order-grand-total span {
    font-size: 1.125rem;
    display: block;
    margin-top: .5rem;
    color: #fafafa
}

.order-wrapper .order-container .order-button {
    width: 100%;
    justify-content: center
}

.checkout-form-section {
    flex: 1;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fff
}

@media (min-width: 48rem) {
    .checkout-form-section {
        padding:1.875rem 1.75rem
    }
}

@media (min-width: 64rem) {
    .checkout-form-section {
        flex-grow:1;
        padding: 3.375rem 3rem
    }
}

.checkout-form-section-title {
    text-transform: uppercase;
    font-size: 1.75rem
}

@media (min-width: 48rem) {
    .checkout-form-section-title {
        font-size:2rem
    }
}

.checkout-form-section .checkout-form-inputs {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.checkout-form-section .checkout-form-inputs .form-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.checkout-form-section .checkout-form-inputs .form-details-title {
    font-size: .8125rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #d87d4a
}

.checkout-form-section .checkout-form-inputs .form-details-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

@media (min-width: 48rem) {
    .checkout-form-section .checkout-form-inputs .form-details-inputs {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem
    }
}

.form-radio-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.form-radio-inputs .radio-input-container {
    height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .875rem;
    font-weight: 700;
    border-radius: .5rem;
    border: solid .0625rem #cfcfcf
}

@media (hover: hover) and (pointer: fine) {
    .form-radio-inputs .radio-input-container:hover,.form-radio-inputs .radio-input-container:focus-visible {
        transition-duration:.2s;
        outline: none;
        border: solid .0625rem #d87d4a
    }
}

.form-radio-inputs .radio-input-container input[type=radio] {
    appearance: none;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    border: solid .0625rem #cfcfcf;
    border-radius: 50%;
    display: flex
}

.form-radio-inputs .radio-input-container input[type=radio]:checked:before {
    content: "";
    margin: auto;
    width: .625rem;
    height: .625rem;
    border-radius: 100%;
    background-color: #d87d4a
}

.cash-section {
    display: flex;
    align-items: center;
    gap: 2rem
}

.form-input-label {
    font-weight: 700;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5625rem
}

.form-input-label span {
    font-weight: 500
}

.form-input-element {
    width: 100%;
    height: 3.5rem;
    border-radius: .5rem;
    border: .0625rem solid #cfcfcf;
    font-size: .875rem;
    font-weight: 500;
    padding: 0 1.5rem
}

.form-input-element::placeholder {
    color: #cfcfcf
}

.form-input-element:focus-visible {
    border-color: #d87d4a
}

.form-error .form-input-label {
    color: #cd2c2c
}

.form-error .form-input-element {
    border: .125rem solid #cd2c2c
}

.form-error .form-input-element::placeholder {
    color: #cd2c2c
}

.checkout-product {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    background-color: #fff
}

@media (min-width: 48rem) {
    .checkout-product {
        padding:2rem
    }
}

@media (min-width: 64rem) {
    .checkout-product {
        margin-top:0;
        width: 21.875rem;
        border-radius: .5rem;
        background-color: #fff
    }
}

.checkout-product-title {
    font-size: 1.125rem;
    text-transform: uppercase
}

.checkout-product-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.checkout-product-prices {
    text-transform: uppercase
}

.checkout-product-prices-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem
}

.checkout-product-prices-item:nth-last-child(2) {
    margin-bottom: 1.5rem
}

.checkout-product-prices-item:nth-last-child(1) {
    margin-bottom: 0
}

.checkout-product-prices-item-span {
    font-size: 1.125rem;
    font-weight: 700;
    color: #101010
}

.checkout-button {
    width: auto;
    justify-content: center
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scrollbar-width: none
}

body {
    font-family: Manrope,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body::-webkit-scrollbar {
    width: 0
}

button {
    font-family: Manrope,sans-serif;
    border: none;
    background: none;
    cursor: pointer
}

hr {
    border: none
}

a {
    text-decoration: none;
    color: inherit
}

button,a,input,div {
    outline: none
}

ul {
    list-style: none
}

.no-scroll {
    overflow: hidden
}
