:root {
    --primary: #D87D4A;
    --secondary: #101010;
    --tertiary: #F1F1F1;
    --quaternary: #FAFAFA;
    --primary-lighter: #fbaf85;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.inner-container {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
}

#menu {
    display: none;
}

.hero-banner-inner-container {
    position: relative;
}

.out-container {
    background-color: #191919;
    height: 600px;
}

.hero-banner-section {
    background-image: url("assets/home/mobile/image-header.jpg");
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.inner-banner {
    /* background-color: yellow; */
    position: relative;
    /* padding: 5%; */
    margin: 0 50px;
    top: 220px;
    justify-content: center;
    align-items: center;

}

.list-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header-param {
    color: #FAFAFA80;
    letter-spacing: .125rem;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.195rem;
    letter-spacing: .625rem;
    text-transform: uppercase;
    margin: 0;

}

.header-title {
    margin: 1.5rem 0;
    color: #FAFAFA;
    letter-spacing: .125rem;
    font-size: 2.0rem;
}

.header-content-text {
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.5625rem;
    color: #FAFAFA80;
}

.main-content-wrapper {
    width: 100%;
    height: 100%;

    padding: 100px 40px;
    background-color: red;
    position: relative;
    /* display: flex; */
}

.main-container {
    background-color: blue;
   /* position: relative; */
    width: 100%;
    width: 100%;
    padding: 5px;
    max-width: 69.375rem;

    display: flex;
    flex-direction: column;
}

.categories-section {
    background-color: yellow;
    /* position: static; */
    display: flex;
    flex-direction: column;
}

.home-products-section {
    background-color: green;
    /* width: 100%; */
    /* height: 100%; */
}

.best-audio-section {
    background-color: purple;
    /* width: 100%; */
    /* height: 100%; */
}

.categories {
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    /* padding:  50px 0; */
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;

    gap: 20px;
    /* grid-template-columns: repeat(3, 1fr); Create a 3-column grid */
}

.category-item {
    flex: 1;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 5px;

    /*height: 100%; */
    background-color: pink;
}

.product-home {
    flex: 1;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 5px;

    /*height: 100%; */
    background-color: pink;
}

.content-image {
    background-image: url("assets/product-xx99-mark-one-headphones/mobile/image-category-page-preview.jpg");
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 50%;
    /* margin: 5px; */
    display: flex;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    /* top: 0; */
}

.category-content {
    background-color: grey;
    width: 100%;
    height: 50%;
    padding-top: 5.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid rgb(151 151 151 / 10%);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
}

.nav-desktop {
    display: none;
}

#toggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Small (sm) */
@media (min-width: 640px) {}

/* Medium (md) */
@media (min-width: 768px) {

    /* Your styles for the medium breakpoint here */
    .out-container {
        height: 728px;
    }

    .hero-banner-section {
        background-image: url("assets/home/tablet/image-header.jpg");
    }

    header {
        justify-content: flex-start;
        gap: 42px;
    }

    header .checkout-btn {
        margin-left: auto;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {

    /* Your styles for the extra large breakpoint here */
    header {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-banner-section {
        background-image: url("assets/home/desktop/image-hero.jpg");
        background-size: cover;
    }

    .menu-toggle-btn {
        display: none;
    }

    .nav-desktop {
        margin: 0 auto;
        display: block;
    }

    .nav-desktop ul {
        display: flex;
        gap: 34px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-desktop a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 2px;
    }

    .nav-desktop a:hover,
    .nav-desktop a:focus {
        color: var(--primary);
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}