:root {
    --primary: #D87D4A;
    --secondary: #101010;
    --tertiary: #F1F1F1;
    --quaternary: #FAFAFA;
    --primary-lighter: #fbaf85;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.inner-container {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
}

#menu {
    display: none;
}

.hero-banner-inner-container {
    position: relative;
}

.out-container {
    background-color: #191919;
    height: 600px;

}

.hero-banner-section {
    background-image: url("assets/home/mobile/image-header.jpg");
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.inner-banner {
    /* background-color: yellow; */
    position: relative;
    /* padding: 5%; */
    margin: 0 50px;
    top: 220px;
    justify-content: center;
    align-items: center;

}

.list-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header-param {
    color: #FAFAFA80;
    letter-spacing: .125rem;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.195rem;
    letter-spacing: .625rem;
    text-transform: uppercase;
    margin: 0;

}

.header-title {
    margin: 1.5rem 0;
    color: #FAFAFA;
    letter-spacing: .125rem;
    font-size: 2.0rem;
}

.header-content-text {
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.5625rem;
    color: #FAFAFA80;
}

.main-content-wrapper {
    width: 100%;
    /* height: 100%; */

    padding: 2.5rem 1.5rem 7.5rem;
    background-color: red;
    position: relative;
    /* display: flex; */
}

.main-container {
    background-color: blue;
    position: relative;
    width: 100%;
    padding: 5px;
    max-width: 69.375rem;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.categories-section {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.home-products-section {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    /* width: 100%; */
    /* height: 100%; */
}

.product-home-one {
    width: 100%;
    background-color: #d87d4a;
    padding: 3.4375rem 1.5rem;
    border-radius: 0.5rem;
    background-image: url(/assets/pattern-circles.1e4fdc35.svg);
    background-size: 31.25rem;
    background-position: center -100px;
    background-repeat: no-repeat;

}

.product-home-one .product-home-one-image-container {
    width: fit-content;
    margin: 0 auto;
}

.product-home-one .product-home-one-image-container .product-home-one-image {
    margin-bottom: 2rem;
    width: 10.765625rem;
}

.best-audio-section {
    background-color: purple;
    /* width: 100%; */
    /* height: 100%; */
}

.product-home-one-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.product-home-one-content .product-home-one-title {
    text-align: center;
    color: #fff;
    font-size: 2.25rem;
    text-transform: uppercase;
}

.product-home-one-content .product-home-one-text {
    text-align: center;
}

.btn-gray {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn-black {
    color: #000;
    border-color: #000;
}

.btn-styles {
    height: 3rem;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    font-size: .8125rem;
    align-items: center;
    font-weight: 700;
    padding: 0 1.875rem;
    border: 2px solid;
}

.product-home-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6.3125rem 1.5rem;
    border-radius: 0.5rem;
    background-image: url(assets/home/mobile/image-speaker-zx7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product-home-two .product-home-two-title {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.product-home-three {
    width: 100%;
}

.product-home-three .product-home-three-image {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.product-home-three .product-home-three-content {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    padding: 2.5625rem 1.5rem;
}

.product-home-three .product-home-three-content .product-home-three-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.best-audio-section {
    width: 100%;
}

.best-audio-section .best-audio-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.best-audio-section .best-audio-content {
    width: 100%;
    max-width: 35.8125rem;
    margin: 0 auto;
    text-align: center;
}

.best-audio-section .best-audio-content .best-audio-title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn-gray {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn-styles {
    height: 3rem;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    font-size: .8125rem;
    align-items: center;
    font-weight: 700;
    padding: 0 1.875rem;
    border: 2px solid;
}

button,
a,
input,
div {
    outline: none;
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fafafa80;
}
.text-default {
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.5625rem;
}


.best-audio-section .best-audio-content .best-audio-title-span {
    color: #d87d4a;
}


.main-container {
    gap: 7.5rem;
}


.categories {
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    /* padding:  50px 0; */
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;

    gap: 20px;
    /* grid-template-columns: repeat(3, 1fr); Create a 3-column grid */
}

.category-item {
    flex: 1;
    position: relative;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    /* padding: 2px; */
    margin: 5px;

    background-color: pink;

    display: flex;
    flex-direction: column;

    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */

}

.product-home {
    flex: 1;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 5px;

    /*height: 100%; */
    background-color: pink;
}



.content-image {
    background-color: blue;
    width: 100px;
    height: 120px;
    position: absolute;
    top: 0;
}

.my-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9375rem;
    padding-top: 1rem;
    margin-bottom: 1.0625rem;
    color: #e8e6e3;
}

.content-shop-button {
    margin: 0 auto;
    gap: .8125rem;
    border-color: currentcolor;
    color: rgba(232, 230, 227, 0.5);
    padding: 0;
    height: auto;
    border: none;
}

.category-content {
    background-color: green;
    height: 150px;
    width: 100%;
    margin-top: 3.5rem;
    padding-top: 4rem;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid rgb(151 151 151 / 10%);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
}


.nav-desktop {
    display: none;
    gap: 1rem;
}

#nav-footer {
    display: flex;
    gap: 1rem;
}


#toggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer .footer-container {
    width: 100%;
    max-width: 69.375rem;
}

.footer .footer-container .footer-line {
    width: 6.3125rem;
    height: 0.25rem;
    background-color: #d87d4a;
    margin: 0 auto 3rem;

}

.footer .footer-container .footer-content {
    width: 100%;
    position: relative;

}

.footer .footer-container .footer-content .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footer {
    padding: 0 1.5rem 2.375rem;
    background-color: #101010;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}



/* Small (sm) */
@media (min-width: 640px) {}

/* Medium (md) */
@media (min-width: 768px) {

    /* Your styles for the medium breakpoint here */
    .out-container {
        height: 728px;
    }

    .hero-banner-section {
        background-image: url("assets/home/tablet/image-header.jpg");
    }

    header {
        justify-content: flex-start;
        gap: 42px;
    }

    header .checkout-btn {
        margin-left: auto;
    }

    .categories-section {
        display: flex;
        flex-direction: row;
    }

    #nav-footer {
        flex-direction: row;
        gap: 2.125rem;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {

    /* Your styles for the extra large breakpoint here */
    header {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-banner-section {
        background-image: url("assets/home/desktop/image-hero.jpg");
        background-size: cover;
    }

    .menu-toggle-btn {
        display: none;
    }

    .nav-desktop {
        margin: 0 auto;
        display: block;
        gap: 1rem;
    }



    .nav-desktop ul {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

     ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .nav-desktop a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 2px;
    }

    .nav-desktop a:hover,
    .nav-desktop a:focus {
        color: var(--primary);
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}